SoftradeV2/CustomSoft.Template.Dominio/Service References/FTPSoftrade/FTPService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Dominio.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Dominio.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/FTPService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Compartido" />
  <xs:import schemaLocation="http://localhost:8090/FTPService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Dominio.Base" />
  <xs:complexType name="Archivo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Dominio.Base" base="q1:ArchivoBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ArchivoBytes" nillable="true" type="xs:base64Binary" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Compartido" minOccurs="0" name="TipoArchivoFiltro" type="q2:TipoArchivo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Archivo" nillable="true" type="tns:Archivo" />
</xs:schema>