SoftradeV2/CustomSoft.Template.Dominio/Service References/FTPSoftrade/FTPService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Dominio.Base" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Dominio.Base" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArchivoBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExtensionArchivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaSubida" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="IdEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="LongitudArchivo" type="xs:float" />
      <xs:element minOccurs="0" name="NombreCompletoArchivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Patente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PathDestino" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArchivoBase" nillable="true" type="tns:ArchivoBase" />
</xs:schema>