CustomSoft.Template.Modelo/Service References/FTPSoftrade/FTPService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/FTPService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Servicio.Request" />
  <xs:import schemaLocation="http://localhost:8090/FTPService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Servicio.Response" />
  <xs:element name="OperacionArchivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Servicio.Request" minOccurs="0" name="archivo" nillable="true" type="q1:RecibeArchivoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperacionArchivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Servicio.Response" minOccurs="0" name="OperacionArchivoResult" nillable="true" type="q2:RecibeArchivoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FTServerCode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FTServerCodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>