CustomSoft.Template.Modelo/Service References/FTPSoftrade/FTPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FTPService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/FTPService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/FTPService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/FTPService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Servicio.Request" />
      <xsd:import schemaLocation="http://localhost:8090/FTPService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Servicio.Base" />
      <xsd:import schemaLocation="http://localhost:8090/FTPService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Dominio.Entidades" />
      <xsd:import schemaLocation="http://localhost:8090/FTPService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Dominio.Base" />
      <xsd:import schemaLocation="http://localhost:8090/FTPService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Compartido" />
      <xsd:import schemaLocation="http://localhost:8090/FTPService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Servicio.Response" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFTPSeguridadService_OperacionArchivo_InputMessage">
    <wsdl:part name="parameters" element="tns:OperacionArchivo" />
  </wsdl:message>
  <wsdl:message name="IFTPSeguridadService_OperacionArchivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:OperacionArchivoResponse" />
  </wsdl:message>
  <wsdl:message name="IFTPSeguridadService_FTServerCode_InputMessage">
    <wsdl:part name="parameters" element="tns:FTServerCode" />
  </wsdl:message>
  <wsdl:message name="IFTPSeguridadService_FTServerCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:FTServerCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="IFTPSeguridadService">
    <wsdl:operation name="OperacionArchivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IFTPSeguridadService/OperacionArchivo" message="tns:IFTPSeguridadService_OperacionArchivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFTPSeguridadService/OperacionArchivoResponse" message="tns:IFTPSeguridadService_OperacionArchivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FTServerCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IFTPSeguridadService/FTServerCode" message="tns:IFTPSeguridadService_FTServerCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFTPSeguridadService/FTServerCodeResponse" message="tns:IFTPSeguridadService_FTServerCode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFTPSeguridadService" type="tns:IFTPSeguridadService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OperacionArchivo">
      <soap:operation soapAction="http://tempuri.org/IFTPSeguridadService/OperacionArchivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FTServerCode">
      <soap:operation soapAction="http://tempuri.org/IFTPSeguridadService/FTServerCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FTPService">
    <wsdl:port name="BasicHttpBinding_IFTPSeguridadService" binding="tns:BasicHttpBinding_IFTPSeguridadService">
      <soap:address location="http://localhost:8090/FTPService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>