CustomSoft.Template.Modelo/Service References/FTPSoftrade/FTPService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Servicio.Base" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Servicio.Base" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/FTPService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Dominio.Entidades" />
  <xs:complexType name="OperacionRequestBaseOfArchivoVa2qu1_SJ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperacionRequestBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Servicio.Base" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Archivo" Namespace="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Dominio.Entidades" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Dominio.Entidades" minOccurs="0" name="Item" nillable="true" type="q1:Archivo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperacionRequestBaseOfArchivoVa2qu1_SJ" nillable="true" type="tns:OperacionRequestBaseOfArchivoVa2qu1_SJ" />
  <xs:complexType name="RequestBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="UsuarioEjecucion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestBase" nillable="true" type="tns:RequestBase" />
  <xs:complexType name="OperacionResponseBaseOfArchivoVa2qu1_SJ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperacionResponseBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Servicio.Base" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Archivo" Namespace="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Dominio.Entidades" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FTPSoftrade.Template.Modelo.Dominio.Entidades" minOccurs="0" name="Item" nillable="true" type="q2:Archivo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperacionResponseBaseOfArchivoVa2qu1_SJ" nillable="true" type="tns:OperacionResponseBaseOfArchivoVa2qu1_SJ" />
  <xs:complexType name="ResponseBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="EjecucionValida" type="xs:boolean" />
          <xs:element minOccurs="0" name="MensajeError" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseBase" nillable="true" type="tns:ResponseBase" />
</xs:schema>