SoftradeV2/CustomSoft.Template.Dominio/Service References/ServiciosVUCEM/SeguridadService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Base" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Base" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.2.111:8080/SeguridadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Request" />
  <xs:import schemaLocation="http://192.168.2.111:8080/SeguridadService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Dominio.Entidades" />
  <xs:complexType name="OperacionRequestBaseOfRequestVUCEMfmVq_Slhw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperacionRequestBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Base" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RequestVUCEM" Namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Request" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Request" base="q1:RequestVUCEM">
        <xs:sequence>
          <xs:element minOccurs="0" name="Entidad" nillable="true" type="q1:RequestVUCEM" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperacionRequestBaseOfRequestVUCEMfmVq_Slhw" nillable="true" type="tns:OperacionRequestBaseOfRequestVUCEMfmVq_Slhw" />
  <xs:complexType name="RequestBaseWS">
    <xs:sequence>
      <xs:element minOccurs="0" name="pPassAA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pUsuarioAA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestBaseWS" nillable="true" type="tns:RequestBaseWS" />
  <xs:complexType name="OperacionResponseBaseOfArrayOfPedimentoVUCEMlU7cFfIX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperacionResponseBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Base" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfPedimentoVUCEM" Namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Dominio.Entidades" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Dominio.Entidades" minOccurs="0" name="Entidad" nillable="true" type="q2:ArrayOfPedimentoVUCEM" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperacionResponseBaseOfArrayOfPedimentoVUCEMlU7cFfIX" nillable="true" type="tns:OperacionResponseBaseOfArrayOfPedimentoVUCEMlU7cFfIX" />
  <xs:complexType name="ResponseBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="EjecucionValida" type="xs:boolean" />
      <xs:element minOccurs="0" name="MensajeError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBase" nillable="true" type="tns:ResponseBase" />
  <xs:complexType name="OperacionResponseBaseOfRequestVUCEMfmVq_Slhw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperacionResponseBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Base" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RequestVUCEM" Namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Request" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Request" minOccurs="0" name="Entidad" nillable="true" type="q3:RequestVUCEM" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperacionResponseBaseOfRequestVUCEMfmVq_Slhw" nillable="true" type="tns:OperacionResponseBaseOfRequestVUCEMfmVq_Slhw" />
  <xs:complexType name="OperacionResponseBaseOfArchivoMlU7cFfIX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperacionResponseBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Base" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArchivoM" Namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Dominio.Entidades" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Dominio.Entidades" minOccurs="0" name="Entidad" nillable="true" type="q4:ArchivoM" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperacionResponseBaseOfArchivoMlU7cFfIX" nillable="true" type="tns:OperacionResponseBaseOfArchivoMlU7cFfIX" />
</xs:schema>