SoftradeV2/CustomSoft.Template.Dominio/Service References/ServiciosVUCEM/SeguridadService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.2.111:8080/SeguridadService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Base" />
  <xs:complexType name="VucemOperacionResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Base" base="q1:OperacionResponseBaseOfArrayOfPedimentoVUCEMlU7cFfIX">
        <xs:sequence>
          <xs:element minOccurs="0" name="NumeroPedimentos" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VucemOperacionResponse" nillable="true" type="tns:VucemOperacionResponse" />
  <xs:complexType name="VucemOperacionPedimentoCompletoResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Base" base="q2:OperacionResponseBaseOfArchivoMlU7cFfIX">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VucemOperacionPedimentoCompletoResponse" nillable="true" type="tns:VucemOperacionPedimentoCompletoResponse" />
</xs:schema>