SoftradeV2/CustomSoft.Template.Dominio/Service References/ServiciosVUCEM/SeguridadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SeguridadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.2.111:8080/SeguridadService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.2.111:8080/SeguridadService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.2.111:8080/SeguridadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Request" />
      <xsd:import schemaLocation="http://192.168.2.111:8080/SeguridadService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Base" />
      <xsd:import schemaLocation="http://192.168.2.111:8080/SeguridadService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Compartido" />
      <xsd:import schemaLocation="http://192.168.2.111:8080/SeguridadService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Response" />
      <xsd:import schemaLocation="http://192.168.2.111:8080/SeguridadService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Dominio.Entidades" />
      <xsd:import schemaLocation="http://192.168.2.111:8080/SeguridadService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Dominio.Base" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISeguridadService_InvocaVUCEMListados_InputMessage">
    <wsdl:part name="parameters" element="tns:InvocaVUCEMListados" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_InvocaVUCEMListados_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvocaVUCEMListadosResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_InvocaVUCEMPedimentoCompleto_InputMessage">
    <wsdl:part name="parameters" element="tns:InvocaVUCEMPedimentoCompleto" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_InvocaVUCEMPedimentoCompleto_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvocaVUCEMPedimentoCompletoResponse" />
  </wsdl:message>
  <wsdl:portType name="ISeguridadService">
    <wsdl:operation name="InvocaVUCEMListados">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadService/InvocaVUCEMListados" message="tns:ISeguridadService_InvocaVUCEMListados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadService/InvocaVUCEMListadosResponse" message="tns:ISeguridadService_InvocaVUCEMListados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InvocaVUCEMPedimentoCompleto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadService/InvocaVUCEMPedimentoCompleto" message="tns:ISeguridadService_InvocaVUCEMPedimentoCompleto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadService/InvocaVUCEMPedimentoCompletoResponse" message="tns:ISeguridadService_InvocaVUCEMPedimentoCompleto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISeguridadService" type="tns:ISeguridadService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InvocaVUCEMListados">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/InvocaVUCEMListados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvocaVUCEMPedimentoCompleto">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/InvocaVUCEMPedimentoCompleto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SeguridadService">
    <wsdl:port name="BasicHttpBinding_ISeguridadService" binding="tns:BasicHttpBinding_ISeguridadService">
      <soap:address location="http://192.168.2.111:8080/SeguridadService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>