CustomSoft.Template.Modelo/Service References/VUCEMService/VUCEMService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Base" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Base" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.2.111:8585/VUCEMService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Request" />
  <xs:import schemaLocation="http://192.168.2.111:8585/VUCEMService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Dominio.Entidades" />
  <xs:import schemaLocation="http://192.168.2.111:8585/VUCEMService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/CustomSoft.Template.Modelo.Dominio.Entidades" />
  <xs:complexType name="OperacionRequestBaseOfRequestVUCEMfmVq_Slhw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperacionRequestBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Base" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RequestVUCEM" Namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Request" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Request" base="q1:RequestVUCEM">
        <xs:sequence>
          <xs:element minOccurs="0" name="Entidad" nillable="true" type="q1:RequestVUCEM" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperacionRequestBaseOfRequestVUCEMfmVq_Slhw" nillable="true" type="tns:OperacionRequestBaseOfRequestVUCEMfmVq_Slhw" />
  <xs:complexType name="RequestBaseWS">
    <xs:sequence>
      <xs:element minOccurs="0" name="pNumeroOperacion" type="xs:long" />
      <xs:element minOccurs="0" name="pPassAA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pUsuarioAA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestBaseWS" nillable="true" type="tns:RequestBaseWS" />
  <xs:complexType name="OperacionResponseBaseOfArrayOfListaPedimentosVUCEMlU7cFfIX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperacionResponseBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Base" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfListaPedimentosVUCEM" Namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Dominio.Entidades" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Dominio.Entidades" minOccurs="0" name="Entidad" nillable="true" type="q2:ArrayOfListaPedimentosVUCEM" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperacionResponseBaseOfArrayOfListaPedimentosVUCEMlU7cFfIX" nillable="true" type="tns:OperacionResponseBaseOfArrayOfListaPedimentosVUCEMlU7cFfIX" />
  <xs:complexType name="ResponseBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="EjecucionValida" type="xs:boolean" />
      <xs:element minOccurs="0" name="MensajeError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoOperacion" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBase" nillable="true" type="tns:ResponseBase" />
  <xs:complexType name="OperacionResponseBaseOfRequestVUCEMfmVq_Slhw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperacionResponseBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Base" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RequestVUCEM" Namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Request" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Request" minOccurs="0" name="Entidad" nillable="true" type="q3:RequestVUCEM" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperacionResponseBaseOfRequestVUCEMfmVq_Slhw" nillable="true" type="tns:OperacionResponseBaseOfRequestVUCEMfmVq_Slhw" />
  <xs:complexType name="OperacionResponseBaseOfArchivoMENozCr3x">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperacionResponseBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Base" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArchivoM" Namespace="http://schemas.datacontract.org/2004/07/CustomSoft.Template.Modelo.Dominio.Entidades" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CustomSoft.Template.Modelo.Dominio.Entidades" minOccurs="0" name="Entidad" nillable="true" type="q4:ArchivoM" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperacionResponseBaseOfArchivoMENozCr3x" nillable="true" type="tns:OperacionResponseBaseOfArchivoMENozCr3x" />
  <xs:complexType name="OperacionResponseBaseOfEstadoPedimentoVUCEMlU7cFfIX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperacionResponseBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Base" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="EstadoPedimentoVUCEM" Namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Dominio.Entidades" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Dominio.Entidades" minOccurs="0" name="Entidad" nillable="true" type="q5:EstadoPedimentoVUCEM" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperacionResponseBaseOfEstadoPedimentoVUCEMlU7cFfIX" nillable="true" type="tns:OperacionResponseBaseOfEstadoPedimentoVUCEMlU7cFfIX" />
  <xs:complexType name="OperacionRequestBaseConsultaEdocumentOfConsultaEdocumentlU7cFfIX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperacionRequestBaseConsultaEdocumentOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Base" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ConsultaEdocument" Namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Dominio.Entidades" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Dominio.Entidades" minOccurs="0" name="Entidad" nillable="true" type="q6:ConsultaEdocument" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperacionRequestBaseConsultaEdocumentOfConsultaEdocumentlU7cFfIX" nillable="true" type="tns:OperacionRequestBaseConsultaEdocumentOfConsultaEdocumentlU7cFfIX" />
  <xs:complexType name="RequestBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdUsuarioEjecucion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestBase" nillable="true" type="tns:RequestBase" />
  <xs:complexType name="OperacionResponseBaseOfConsultaEdocumentlU7cFfIX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperacionResponseBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Base" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ConsultaEdocument" Namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Dominio.Entidades" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Dominio.Entidades" minOccurs="0" name="Entidad" nillable="true" type="q7:ConsultaEdocument" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperacionResponseBaseOfConsultaEdocumentlU7cFfIX" nillable="true" type="tns:OperacionResponseBaseOfConsultaEdocumentlU7cFfIX" />
  <xs:complexType name="OperacionRequestBaseConsultaEdocumentOfDocumentoVUCEMlU7cFfIX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperacionRequestBaseConsultaEdocumentOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Base" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DocumentoVUCEM" Namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Dominio.Entidades" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Dominio.Entidades" minOccurs="0" name="Entidad" nillable="true" type="q8:DocumentoVUCEM" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperacionRequestBaseConsultaEdocumentOfDocumentoVUCEMlU7cFfIX" nillable="true" type="tns:OperacionRequestBaseConsultaEdocumentOfDocumentoVUCEMlU7cFfIX" />
  <xs:complexType name="OperacionResponseBaseOfDocumentoVUCEMlU7cFfIX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperacionResponseBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Base" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DocumentoVUCEM" Namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Dominio.Entidades" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Dominio.Entidades" minOccurs="0" name="Entidad" nillable="true" type="q9:DocumentoVUCEM" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperacionResponseBaseOfDocumentoVUCEMlU7cFfIX" nillable="true" type="tns:OperacionResponseBaseOfDocumentoVUCEMlU7cFfIX" />
</xs:schema>