CustomSoft.Template.Modelo/Service References/VUCEMService/VucemService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VucemService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.2.111:8585/VUCEMService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.2.111:8585/VUCEMService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.2.111:8585/VUCEMService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Request" />
      <xsd:import schemaLocation="http://192.168.2.111:8585/VUCEMService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Base" />
      <xsd:import schemaLocation="http://192.168.2.111:8585/VUCEMService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Compartido" />
      <xsd:import schemaLocation="http://192.168.2.111:8585/VUCEMService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Response" />
      <xsd:import schemaLocation="http://192.168.2.111:8585/VUCEMService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Dominio.Entidades" />
      <xsd:import schemaLocation="http://192.168.2.111:8585/VUCEMService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Dominio.Base" />
      <xsd:import schemaLocation="http://192.168.2.111:8585/VUCEMService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/CustomSoft.Template.Modelo.Dominio.Entidades" />
      <xsd:import schemaLocation="http://192.168.2.111:8585/VUCEMService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/CustomSoft.Template.Modelo.Dominio.Base.Pedimento" />
      <xsd:import schemaLocation="http://192.168.2.111:8585/VUCEMService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/CustomSoft.Template.Modelo.Dominio.Base" />
      <xsd:import schemaLocation="http://192.168.2.111:8585/VUCEMService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Dominio.Entidades.COVE" />
      <xsd:import schemaLocation="http://192.168.2.111:8585/VUCEMService.svc?xsd=xsd12" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISeguridadVucemService_InvocaVUCEMListados_InputMessage">
    <wsdl:part name="parameters" element="tns:InvocaVUCEMListados" />
  </wsdl:message>
  <wsdl:message name="ISeguridadVucemService_InvocaVUCEMListados_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvocaVUCEMListadosResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadVucemService_InvocaVUCEMPedimento_InputMessage">
    <wsdl:part name="parameters" element="tns:InvocaVUCEMPedimento" />
  </wsdl:message>
  <wsdl:message name="ISeguridadVucemService_InvocaVUCEMPedimento_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvocaVUCEMPedimentoResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadVucemService_InvocaVUCEMEstatusPedimento_InputMessage">
    <wsdl:part name="parameters" element="tns:InvocaVUCEMEstatusPedimento" />
  </wsdl:message>
  <wsdl:message name="ISeguridadVucemService_InvocaVUCEMEstatusPedimento_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvocaVUCEMEstatusPedimentoResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadVucemService_ConsultaEdocumentVucem_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaEdocumentVucem" />
  </wsdl:message>
  <wsdl:message name="ISeguridadVucemService_ConsultaEdocumentVucem_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaEdocumentVucemResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadVucemService_ConsultaDocumentoDigitalizadoVUCEM_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaDocumentoDigitalizadoVUCEM" />
  </wsdl:message>
  <wsdl:message name="ISeguridadVucemService_ConsultaDocumentoDigitalizadoVUCEM_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaDocumentoDigitalizadoVUCEMResponse" />
  </wsdl:message>
  <wsdl:portType name="ISeguridadVucemService">
    <wsdl:operation name="InvocaVUCEMListados">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadVucemService/InvocaVUCEMListados" message="tns:ISeguridadVucemService_InvocaVUCEMListados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadVucemService/InvocaVUCEMListadosResponse" message="tns:ISeguridadVucemService_InvocaVUCEMListados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InvocaVUCEMPedimento">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadVucemService/InvocaVUCEMPedimento" message="tns:ISeguridadVucemService_InvocaVUCEMPedimento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadVucemService/InvocaVUCEMPedimentoResponse" message="tns:ISeguridadVucemService_InvocaVUCEMPedimento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InvocaVUCEMEstatusPedimento">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadVucemService/InvocaVUCEMEstatusPedimento" message="tns:ISeguridadVucemService_InvocaVUCEMEstatusPedimento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadVucemService/InvocaVUCEMEstatusPedimentoResponse" message="tns:ISeguridadVucemService_InvocaVUCEMEstatusPedimento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaEdocumentVucem">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadVucemService/ConsultaEdocumentVucem" message="tns:ISeguridadVucemService_ConsultaEdocumentVucem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadVucemService/ConsultaEdocumentVucemResponse" message="tns:ISeguridadVucemService_ConsultaEdocumentVucem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaDocumentoDigitalizadoVUCEM">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadVucemService/ConsultaDocumentoDigitalizadoVUCEM" message="tns:ISeguridadVucemService_ConsultaDocumentoDigitalizadoVUCEM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadVucemService/ConsultaDocumentoDigitalizadoVUCEMResponse" message="tns:ISeguridadVucemService_ConsultaDocumentoDigitalizadoVUCEM_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISeguridadVucemService" type="tns:ISeguridadVucemService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InvocaVUCEMListados">
      <soap:operation soapAction="http://tempuri.org/ISeguridadVucemService/InvocaVUCEMListados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvocaVUCEMPedimento">
      <soap:operation soapAction="http://tempuri.org/ISeguridadVucemService/InvocaVUCEMPedimento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvocaVUCEMEstatusPedimento">
      <soap:operation soapAction="http://tempuri.org/ISeguridadVucemService/InvocaVUCEMEstatusPedimento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaEdocumentVucem">
      <soap:operation soapAction="http://tempuri.org/ISeguridadVucemService/ConsultaEdocumentVucem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaDocumentoDigitalizadoVUCEM">
      <soap:operation soapAction="http://tempuri.org/ISeguridadVucemService/ConsultaDocumentoDigitalizadoVUCEM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VucemService">
    <wsdl:port name="BasicHttpBinding_ISeguridadVucemService" binding="tns:BasicHttpBinding_ISeguridadVucemService">
      <soap:address location="http://192.168.2.111:8585/VUCEMService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>