CustomSoft.Template.Modelo/Service References/VUCEMService/VUCEMService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.2.111:8585/VUCEMService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Request" />
  <xs:import schemaLocation="http://192.168.2.111:8585/VUCEMService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Response" />
  <xs:element name="InvocaVUCEMListados">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Request" minOccurs="0" name="pRequest" nillable="true" type="q1:VucemOperacionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvocaVUCEMListadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Response" minOccurs="0" name="InvocaVUCEMListadosResult" nillable="true" type="q2:VucemOperacionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvocaVUCEMPedimento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Request" minOccurs="0" name="pRequest" nillable="true" type="q3:VucemOperacionPedimentoCompletoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvocaVUCEMPedimentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Response" minOccurs="0" name="InvocaVUCEMPedimentoResult" nillable="true" type="q4:VucemOperacionPedimentoCompletoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvocaVUCEMEstatusPedimento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Request" minOccurs="0" name="pRequest" nillable="true" type="q5:VucemOperacionEstatusPedimentoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvocaVUCEMEstatusPedimentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Response" minOccurs="0" name="InvocaVUCEMEstatusPedimentoResult" nillable="true" type="q6:VucemOperacionEstatusPedimentoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaEdocumentVucem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Request" minOccurs="0" name="request" nillable="true" type="q7:ConsultaEdocumentVUCEMRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaEdocumentVucemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Response" minOccurs="0" name="ConsultaEdocumentVucemResult" nillable="true" type="q8:ConsultaEdocumentVUCEMResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaDocumentoDigitalizadoVUCEM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Request" minOccurs="0" name="request" nillable="true" type="q9:DocumentoVUCEMRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaDocumentoDigitalizadoVUCEMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/VUCEM.Template.Modelo.Servicios.Response" minOccurs="0" name="ConsultaDocumentoDigitalizadoVUCEMResult" nillable="true" type="q10:DocumentoVUCEMResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>